.app {
  display: flex;
  background: linear-gradient(90deg, rgba(206, 235, 250, 1) 0%, rgba(233, 242, 247, 1) 100%);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
